.site-list-headers {
    display: inline-block;
    left: 0;
    top: 5.5em;
    z-index:10000;
    position: fixed;
    text-align: center;

}

.sites-form {
    margin-top: 10em;
}

table {
    text-align: center;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: .5em;
    background-color: #3A3A3A;
}

th {
    width:auto;
    text-align: center;
    width:300px;
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #3A3A3A;
    
}